repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
    -   id: black
        args: [--line-length=100]

-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        args: ["--profile", "black", "--filter-files", "--line-length=100"]

-   repo: https://github.com/pycqa/pylint
    rev: v4.0.2
    hooks:
    -   id: pylint
        args:
            - --rcfile=.pylintrc
            - --fail-under=7.0
            - --output-format=colorized
